{
  "profiles": {
    "CloudflareDynamicDns": {
      "commandName": "Project",
      "environmentVariables": {
        "CF_API_TOKEN": "",
        "CF_DOMAIN_NAMES": "",
        "INTERVAL_MINUTES": "15"
      }
    }
  }
}
